body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12vh;

    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 32px 0;
}

.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB
}

li {
    padding-left:24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 48px 12vh;
    flex-shrink: 0;
}

.hero-container {
    width: 40vh;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.hero-sub {
    color: #E5E7EB;
    font-size: 18px;
    width: 35vh;
}

.image-placeholder{
    width: 350px;
    height: 200px;
    background-color: rgba(158, 156, 156, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    color:#E5E7EB;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 12vh;
    
}

h2 {
    margin: 36px 0;
    font-size: 36px;
    color:#1F2937
}

.images-container{
    display: flex;
    gap: 48px;
    margin-bottom: 100px;
}

.image-with-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}
.image {
    height: 150px;
    width: 150px;
    background-color: #E5E7EB;
    border-color: #3882F6;
    border-radius: 15px;
    border-width: 5px; 
    border-style: solid;
    margin-bottom: 12px;
}

.quote {
    background-color:#E5E7EB;
    font-size: 36px;
    padding: 0 12vh;
    width: 60vh;
    margin-top: 8vh;
}

.cta {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 100%;
    height: 100px;
    align-items: center;
    border-radius: 15px;
    padding: 12px 12vh;
    margin-bottom: 6vh;
}

.cta-btn{
    border-color: #E5E7EB;
    border-style: solid;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 60px;
    
}